<div #map class="h-[calc(100vh-64px)] bg-red-500"></div>

<section class="fixed w-[260px] bg-white rounded top-20 left-10 p-5">
  <h2 class="text-xl font-bold text-black mb-2">Markers</h2>

  <div class="flex flex-col gap-2">
    @for (marker of markers(); track marker.id) {
    <div class="from-control">
      <label
        [for]="marker.id"
        class="label cursor-pointer flex justify-between"
      >
        <button
          class="btn btn-sm rounded-full p-1 h-[18px] w-[18px] mr-2 bg-red-800"
          (click)="deleteMarker(marker)"
        >
          x
        </button>
        <span class="label-text text-black text-xs text-wrap">{{
          marker.mapboxMarker.getLngLat() | json
        }}</span>
        <input
          type="radio"
          name="radio-10"
          [id]="marker.id"
          class="radio border-gray-300 checked:before:bg-white"
          [style]="{ backgroundColor: marker.mapboxMarker._color }"
          checked="checked"
          (change)="flyToMarker(marker.mapboxMarker.getLngLat())"
        />
      </label>
    </div>
    } @empty {
    <div class="flex justify-center items-center bg-blue-100 rounded py-5">
      <p class="text-xs text-secondary">There are no markers</p>
    </div>
    }
  </div>
</section>
